$branco: #fff;
$preto: #191818;
$cinza: #f2f2f2;
$rosa: #ff1569;
$vermelho: #ea6060;
$azul: #4fc6f8;
$verde: #4bc7c7;

/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/montserrat-v10-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
       url('../assets/fonts/montserrat-v10-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v10-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v10-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/montserrat-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('../assets/fonts/montserrat-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v10-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../assets/fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../assets/fonts/montserrat-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v10-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}


body {
	font-family: "Montserrat", sans-serif;
}

.clearfix {
	overflow:auto;
	zoom:1;
}

.bg-preto {
	background-color:$preto;
}

.bg-cinza {
	background-color:$cinza;
}

.bg-vermelho {
	background-color:$vermelho;
}

.bg-azul {
	background-color:$azul;
}

.bg-verde {
	background-color:$verde;
}

.container {
	float:left;
	width:980px;
	max-width:980px;
	height:100%;
	margin:40px 0;
	margin-right: 35px;
	margin-left: 15%;
}
