.post-simples {
	margin-top:20px;
	width:100%;
	height:300px;
	margin-left:35px;

	.card {
		margin-right:19.5px;

		&:nth-last-child(1) {
			margin-right:0;
		}
	}

	.card-conteudo {
		width:73%;
	}
}

.img-post {
	height:300px;
	box-sizing: border-box;
	img {
		max-height: 300px;
		width: auto;
	}
}
